body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #bc8d4b;
}

.stopwatch-container {
    text-align: center;
    background-color: #dec358ec;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 100%;
}

.display {
    font-size: 3em;
    margin-bottom: 20px;
    color: #0b0b0b;
}

.control-btn {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #000000;
    color: #eae8e8;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.control-btn:hover {
    background-color: #5a4a04;
}

.control-btn:disabled {
    background-color: #ffffff;
    color: #7f8c8d;
    cursor: not-allowed;
}

.lap-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
}

.lap-list-item {
    background-color: #ecf0f1;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    color: #34495e;
}
